#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}






.sidebar {
  position: fixed;


  width: 56px;
  height: 20vh; 
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}


.logo {
  font-size: 30px;
  margin-top: 20px;
}


.text1 {
  transform: rotate(270deg);
  margin-bottom: 35px;
  font-size: 16px;
}

.mar {
  margin-top: 320px;
  margin-left: 250px;
  font-size: 16px;
  color: #6D6D6D;
}

.ni {
  margin-top: 50px;
  margin-left: 250px;
  font-size: 72.144px;
  font-weight: bolder;

}

.img {
  margin-left: 600px;
  margin-top: -350px;
  border-radius: 20px;
  height: 50vh;
  min-width: 180px;
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
}

.mre {
  margin-top: -200px;
  margin-right: 190px;
  font-size: 72.144px;
  font-weight: bolder;
  text-align: right;
}

.de {
  margin-top: -230px;
  margin-right: 190px;
  font-size: 16px;
  text-align: right;
  color: #6D6D6D;

}

.ll {
  margin-top: 160px;
  margin-right: 190px;
  text-align: right;

  color: #6D6D6D;
}

.fix {
  border-radius: 50px;
  display: flex;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  word-spacing: 15px;
  text-indent: 40px;
  background-color: #000000;
  align-items: center;
  font-size: 15px;
  position: fixed;
  bottom: 20px;
  right: 30%;
  z-index: 1000;
  
}

.me {
  border-radius: 50px;
  background-color: rgb(226 117 0);
  color: white;
  height: 40px;
  font-size: 15px;
  text-transform: capitalize;

}


.d1 {
  font-size: 16px;
  color: #333333;
}

.w1 {
  font-size: 44.8px;
  font-weight: 400;
}

.e {
  color: #6D6D6D;
  font-size: 16px;
}

.page2 {
  margin-top: 20%;
  margin-left: 11%;
}







.m {
  margin-left: 150px;
  border-radius: 30px;
  width: 23%;
  min-height: fit-content;
  position: sticky;
  top: 50px;

  margin-top: 5%;
  background-color: #ffffff;
  padding: 4%;
  line-height: 25px;
}

.d {
  font-size: 36px;
  font-weight: 400;
}

.cl {
  font-size: 15px;
  color: #6D6D6D;
}

.f {
  color: #A5A5A5;
}

.qu {
  color: #333333;
}

.d {
  color: #333333;
}

.m1 {
  margin-left: 50px;
  border-radius: 30px;
  width: 23%;
  min-height: fit-content;
  position: sticky;
  top: 50px;

  margin-top: 5%;
  background-color: #ffffff;
  padding: 4%;
  line-height: 25px;
}

.m2 {
  margin-left: 50px;
  border-radius: 30px;
  width: 23%;
  min-height: fit-content;
  position: sticky;
  top: 50px;

  margin-top: 5%;
  background-color: #ffffff;
  padding: 4%;
  line-height: 25px;
}

.z {
  font-size: 16px;
  color: #333333;
}

.m0 {
  font-weight: 400;
  font-size: 44.8px;
  color: #333333;
}

.dg {
  font-size: 16px;
  color: #6D6D6D;
}

.page3 {
  margin-left: 150px;
}

.o {
  font-size: 13px;
  background-color: #E27500;
  color: white;
  border-radius: 50px;
  width: 10%;
  text-indent: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

.o {
  background-color: #E27500;
  margin-left: 150px; 
  transition: 0.3s;
 
}

.i {
  margin-left: 10px;
}

.em {

  background-color: #ffffff;
  height: 20px;
  padding: 10px;
  align-items: center;
  font-size: 13px;
  text-indent: 10px;
  width: 100px;
  border-radius: 40px;
  border-color: #000000;
  margin-left: 330px;
  margin-top: -40px;

}

.o0 {
  background-color: #ffffff;
  height: 20px;
  padding: 10px;
  align-items: center;
  font-size: 13px;
  text-indent: 10px;
  width: 100px;
  border-radius: 40px;
  border-color: #000000;
  margin-left: 490px;
  margin-top: -53px;
}

.tru {
  font-size: 20px;
  color: #333333;
}

.str {
  margin-left: 150px;
  margin-top: -20px;
}

.tru {
  margin-left: 150px;
  margin-top: -30px;
}

.div {
  background-color: whitesmoke;
  border: 0.2px solid #333333;
  padding: 9.863px;
  align-items: center;
  width: 20px;
  border-radius: 10px;
}

.dic {
  display: flex;
  gap: 20px;
  margin-left: 150px;
}
.text {
 
  animation: scroll 50000ms linear infinite;
  color: #6d6d6d;margin-top: 10%;
}

#mixe{color: black; font-size: 44.8PX ;font-weight: 400;margin-left: 150px;
margin-top: 20%;}

.word {
  opacity: 0.2;
  transition: 0.3s;
}



.active {
  opacity: 1;
  color: black;
  font-weight: 500;
}
.work{font-size: 44.8px;
color: #333333;}
.care{font-size: 16px;
color: #6D6D6D;}
.jwc{
  line-height: 1px;
  margin-left: 150px;
  margin-top: 19%;
}
.e43 {
  background-color: #f7f7f7;
  padding: 50px;
  border-radius: 50px;
  width: 100%;
  box-sizing: border-box;
}

.n1 {
  border-radius: 40px;
  width: 100%; 
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 5%;
}

.d{margin-top: 2% ;
border-radius: 40px;}
.d {
  transition: transform 0.3s ease;
}

.d:hover {
  transform: rotate(2deg);
}
.skill3{
  background-color: #dbdbdb;
  border-radius: 40px;
  width: 100px;
  height: 10px;
  align-items: center;
  display: flex;
  font-size: 15px;
  color: #333333;
  padding: 10px;
  margin-top: 28px;
  margin-left: 50%;
}

.skill4{display: flex ;justify-content: space-between;}
.skill2{
  font-size: 44.8px;
}
.skill{
margin-top: 10%;
}
.skill5{
  color: #6D6D6D;
  font-size: 16px;
}
.skill3:hover{
  background-color: #333333;
  color: #f7f7f7;
}
.sub{display: flex;justify-content: space-between;margin-right: 90px;
}
.sub1{font-size: 22px;
color: #333333;}
.sub2{font-size: 16px;color: #6D6D6D;margin-left: 150px;}
.sub3{font-size: 16px;color: #6D6D6D;}
.line {
  width: 90%;
  height: 2px;
  background: linear-gradient(to right, transparent, #7e7e7e, transparent);
  margin: 20px auto; 
}
.sub0{margin-top: 7%;}


